{% extends "base.html" %}

{% block content %}
    <div class ="card-wrapper">

        <div class="card">

            <h1 class="center">Dashboard</h1>
            <p class="center">You are currently logged in.</p>
            
            <div class="center">
                <a href="/user/signout" class="btn btn--secondary">Sign Out</a>
            </div>

        </div>

        <div class="card">

            <h2 class="center">Your Info</h2>

            <p>
                <strong>ID:</strong> {{ session['user']['_id']}}
                <strong>Name:</strong> {{ session['user']['name']}}
                <strong>Email:</strong> {{ session['user']['email']}}
            </p>
        </div>

        <div class="card">

            <h1 class="center">Interactive Dietbook</h1>
            <p class="center">Enters the interactive dietbook where you can input your food per day, your calorie intake/burning.</p>
            
            <div class="center">
                <a href="/dietbook" class="btn">Access Book</a>
            </div>

        </div>

        <div class="card">

            <h1 class="center">Access Patient Dietbooks</h1>
            <p class="center">Gain access to the interactive dietbooks of your patients where you can check their progress and give them some tips.</p>
            
            <div class="center">
                <a href="/dietbook_control" class="btn">Access Book</a>
            </div>

        </div>

        <div class="card">

            <h1 class="center">Request Professional Supervision</h1>
            <p class="center">By requesting professional supervision, your daily inputs will be monitored by a specialized professional, guiding you through your weight loss journey.</p>
            
            <div class="center">
                <a href="/req_prof_form" class="btn">Sign up</a>
            </div>

        </div>

        <div class="card">

            <h1 class="center">Edamam Implementation</h1>
            <p class="center">You will be able to input your daily food in great detail.</p>
            
            <div class="center">
                <a href="/edamam_api" class="btn">Access Edamam API</a>
            </div>

        </div>

        <div class="card">

            <h1 class="center">Personal Information</h1>
            <p class="center">A necessary step is to log in your personal information like age, sex, height and weight. Additional Information such as your metabolic rate can be defined by your supervisor.</p>
            
            <div class="center">
                <a href="/personal_info" class="btn">Settings</a>
            </div>

        </div>

    </div>

{% endblock %}