{% extends "base.html" %}

{% block content %}

<div class="card-wrapper">

    <div class="card">

        <h1 class="center">Request Supervision</h1>

        <form name="prof_assistance">

            <label for="name">Supervisor's Email Adress:</label>
            <input type="email" name="email" class="field" required>
       
            <p class="error error--hidden"></p>

            <input type="submit" value="Register" class="btn">
            
        </form>

    </div>

</div>

{% endblock %}